.scf-calc {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
main::-webkit-scrollbar {
    display: none;
}



.input-scf {
    display: flex;
    flex-direction: row-reverse;
    /* height: 100%; */
}

.section1,
.section2 {
    display: grid;
    grid-template-rows: repeat(5, 70px);
    grid-template-columns: repeat(4, 70px);
    gap: 2px;
}

#ANS {
    grid-column: 2 / 4;
}

#rad,
#deg {
    display: none;
}

.rad-select,
.deg-select {
    color: var(--secondry-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

#rad:checked+.rad-select {
    color: var(--primary-color);
    background-color: var(--back-color);
}

#deg:checked+.deg-select {
    background-color: var(--back-color);
    color: var(--primary-color);
}

.key-scf,
.action-btn {
    color: var(--secondry-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 5px;
    cursor: pointer;
}

:is(.key-scf, .action-btn):hover {
    background-color: var(--back-color);
}

.operator {
    color: var(--primary-color);
    font-weight: 800;
}

.symbol {
    font-size: 0.8rem;
    position: relative;
    left: 1px;
    bottom: 5px;
}

.output-scf {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-scf {
    color: var(--secondry-color);
    padding: 24px;
    width: 90%;
    height: 50%;
    font-size: 2rem;
    word-wrap: break-word;
    border-radius: 20px;
}

.display-scf.error {
    animation: error 0.3s 1 ease-in-out;
}

@keyframes error {
    50% {
        -webkit-box-shadow: 0px 0px 6px 1px rgba(255, 0, 0, 0.94);
        box-shadow: 0px 0px 6px 1px rgba(255, 0, 0, 0.94);
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.94);
        box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.94);
    }
}

@media (min-width:1025px) and (max-width:1200px) {

    .section1,
    .section2 {
        grid-template-rows: repeat(5, 60px);
        grid-template-columns: repeat(4, 60px);
    }

    .key-scf,
    .action-btn,
    .rad-select,
    .deg-select {
        font-size: 1.2rem;
    }
}

@media (min-width:769px) and (max-width:1024px) {

    .section1,
    .section2 {
        grid-template-rows: repeat(5, 70px);
        grid-template-columns: repeat(4, 70px);
    }

    .key-scf,
    .action-btn,
    .rad-select,
    .deg-select {
        font-size: 1.3rem;
    }

    .display-scf {
        height: 100px;
    }

    .scf-calc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

@media (min-width:481px) and (max-width:768px) {

    .section1,
    .section2 {
        grid-template-rows: repeat(5, 60px);
        grid-template-columns: repeat(4, 60px);
    }

    .key-scf,
    .action-btn,
    .rad-select,
    .deg-select {
        font-size: 1.3rem;
    }

    .display-scf {
        height: 100px;
    }

    .scf-calc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

@media (min-width:280px) and (max-width:480px) {

    .section1,
    .section2 {
        grid-template-rows: repeat(5, 50px);
        grid-template-columns: repeat(4, 60px);
    }

    .key-scf,
    .action-btn,
    .rad-select,
    .deg-select {
        font-size: 1.3rem;
    }

    .input-scf {
        flex-direction: column;
        gap: 20px;
    }

    .display-scf {
        padding: 14px;
        height: 100px;
        font-size: 1.5rem;
    }

}