/* keys and display */


.std {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    outline: none;
    border: none;
    width: 400px;
    height: 130px;
    font-size: 3rem;
    padding: 20px;
    letter-spacing: 1px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    color: var(--secondry-color);
    background: var(--theme-color);
    border-radius: 10px;
}

.display.error {
    animation: error 0.3s 1 ease-in-out;
}

.key {
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    transition: all 0.3s linear;
    cursor: pointer;
}

.key:hover {
    -webkit-box-shadow: 0px 0px 3px 0px var(--secondry-color);
    box-shadow: 0px 0px 3px 0px var(--secondry-color);
}

.keys {
    font-size: 1.5rem;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
}

.numbers {
    color: var(--secondry-color);
}

.operator,
.equal {
    color: var(--primary-color);
}

.clear-all,
.clear-last {
    color: var(--action-color);
}





@media (min-width:1025px) and (max-width:1200px) {
    /*laptop size*/

    .keys {
        font-size: 1.5rem;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(5, 70px);
    }

    .action-section {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }

    .display {  
        margin-left: -45px;
    }
}

@keyframes error {
    50% {
        -webkit-box-shadow: 0px 0px 6px 1px rgba(255, 0, 0, 0.94);
        box-shadow: 0px 0px 6px 1px rgba(255, 0, 0, 0.94);
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.94);
        box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.94);
    }
}