/* keys and display */

* {
    transition: all 0.3s ease-in-out;
}

.std {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.output-std {
    width: 60%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-std {
    outline: none;
    width: 100%;
    height: 190px;
    font-size: 3em;
    padding: 20px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--theme-color);
    color: var(--secondry-color);
}

.display-std.error {
    animation: error 0.3s 1 ease-in-out;
}

.key-std {
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.key-std:hover {
    background-color: var(--back-color);
}

.keys-std {
    font-size: 1.5rem;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
}

.numbers-std {
    color: var(--secondry-color);
}

.operator-std,
.equal-std {
    color: var(--primary-color);
}

.clear-all-std,
.clear-last-std {
    color: var(--action-color);
}


@keyframes error {
    50% {
        -webkit-box-shadow: 0px 0px 6px 1px rgba(255, 0, 0, 0.94);
        box-shadow: 0px 0px 6px 1px rgba(255, 0, 0, 0.94);
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.94);
        box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.94);
    }
}


@media (min-width:769px) and (max-width:1100px) {
    /*laptop size*/

    .keys-std {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(5, 70px);
    }

    .display-std{
        height: 60px;
        font-size: 2.5rem;
    }
}


@media (min-width:481px) and (max-width:768px) {
    .keys-std {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(5, 70px);
    }

    .action-section {
        flex-direction: column;
        gap: 15px;
    }
    .display-std{
        height: 70px;
    }
    .output-std{
        width: 70%;
    }
}

@media (min-width:280px) and (max-width:480px) {

    .keys-std {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(5, 60px);
    }

    .action-section {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .output-std{
        height: 90px;
    }
    .display-std{
        height: 70px;
        font-size: 2rem;
    }
    .output-std{
        width: 90%;
    }

}
