@import url(./Components/components.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

:root {
    --theme-color: #fff;
    --primary-color: #1565c0;
    --secondry-color: #000;
    --action-color: #bdbdbd;
    --back-color: #eeeeee;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--theme-color);
    padding: 0 32px;
}


/* navbar style */
.ham-menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

.ham-bar {
    display: inline-block;
    width: 20px;
    height: 3px;
    margin: 2px 0;
    border-radius: 2px;
    background-color: var(--secondry-color);
}

.ham-menu :nth-child(2) {
    width: 12px;
}

nav {
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    height: 60px;
}

#theme-toogle {
    display: none;
}

.theme-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    color: var(--secondry-color);
}


#theme-toogle:checked+.theme-btn {
    transform: rotate(180deg);
    color: var(--secondry-color);
}

h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.ham-menu.active :nth-child(2) {
    opacity: 0;
}

.ham-menu.active :nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
}

.ham-menu.active :nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

/* navbar style end */


main {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
}


/* hamburgore menu */

.ham-list {
    width: 130px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 8px;
    border-radius: 0 20px 20px 0;
    z-index: 2;
    position: absolute;
    left: 0;
    transform: translateX(-130px);
    font-size: 1.1rem;
}

.ham-list.active {
    transform: translateX(0);
}

.hint-list {
    color: var(--action-color);
    margin-top: 10px;
}

.linked-list {
    color: var(--secondry-color);
    cursor: pointer;
}

.linked-list:hover {
    color: var(--primary-color);
}
/* ham menu end */


/* history section */
.history-container {
    max-width: 310px;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    align-items: center;
    gap: 5px;
    padding: 16px 8px;
    border-radius: 20px 0 0 20px;
    transform: translateX(275px);
    z-index: 2;
    position: absolute;
    right: 0px;
}

.history-container.active {
    transform: translateX(0);
}

.history-menubtn {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    place-content: center;
    color: var(--secondry-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-menubtn:hover {
    background-color: var(--back-color);
}

.history-menubtn.active {
    transform: rotate(180deg);
}

.history {
    width: 295px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.history::-webkit-scrollbar {
    width: 5px;
}

.history::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2px;
}

.history-boxbtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.history-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    width: 260px;
    border-radius: 5px;
    margin: 8px 0;
    color: var(--secondry-color);
}

.history-box:hover {
    background-color: var(--back-color);
}

.history-box p {
    width: 200px;
    font-size: 1.2rem;
}

/* history section end */

.action-section{
    width: 100%;
    height: 100%;
    padding-bottom: 16px;
    user-select: none;
    position: relative;
    z-index: 0;
}



@media (min-width:481px) and (max-width:768px) {
    body{
        padding: 0 12px;
    }
    h1{
        font-size: 1.2rem;
    }
    .history-container.active {
        transform: translateX(15px);
    }
    .ham-list{
        font-size: 1rem;
        width: 110px;
    }
    .history-container{
        width: 300px;
        padding: 12px 4px;
    }
    .history-box{
        width: 230px;
    }
}

@media (min-width:280px) and (max-width:480px) {

    body{
        padding: 0 12px;
    }
    h1{
        font-size: 1.2rem;
    }
    .history-container.active {
        transform: translateX(15px);
    }
    .ham-list{
        font-size: 1rem;
        width: 110px;
    }
    .history-container{
       position: fixed;
    }
    .history-box{
        width: 230px;
    }
}

