* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;

}

:root {
    --theme-color: #fff;
    --primary-color: #1565c0;
    --secondry-color: #000;
    --number-color: #c5cae9;
    --hint-color: #e0e0e0;
}

body {
    background-color: var(--theme-color);
}

.ham-menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ham-bar{
    display: inline-block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--secondry-color);
}

.ham-menu :nth-child(2){
    width: 10px;
}

nav{
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

#theme-toogle{
    display: none;
}

.theme-btn{
    width: 25px;
    height: 25px;
    background: url(../icons/dark\ mode_icon.svg);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#theme-toogle:checked + .theme-btn{
    transform: rotate(360deg);
    background: url(../icons/light\ mode_icon.svg);
}

h1{
    color: var(--primary-color);
}

.ham-list{
    width: 120px;
    margin: 4px 0 0 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scaleX(0);
}

.hint-list{
    color: var(--number-color);
    margin-top: 10px;
}

.linked-list{
    color: var(--secondry-color);
    cursor: pointer;
}

.linked-list:hover{
    color: var(--primary-color);
}

.ham-menu.active :nth-child(2){
    opacity: 0;
}

.ham-menu.active :nth-child(1){
    transform: translateY(-3px);
}

.ham-menu.active :nth-child(3){
    transform: translateY(3px) rotate(45deg);
}